html
{
	background: #D9D9D9 url("../images/unknown-2.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 568px;
	background: -webkit-gradient(linear, left center, right center, from(#FFFFFF),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(left,#FFFFFF ,#FFFFFF 100%);
	background: -moz-linear-gradient(left,#FFFFFF ,#FFFFFF 100%);
	background: -ms-linear-gradient(left,#FFFFFF ,#FFFFFF 100%);
	background: -o-linear-gradient(left,#FFFFFF ,#FFFFFF 100%);
	background: linear-gradient(to right,#FFFFFF ,#FFFFFF 100%);
	-pie-background: linear-gradient(left,#FFFFFF ,#FFFFFF 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 0px 10px 10px 10px ;
	-webkit-border-radius: 0px 10px 10px 10px ;
	-khtml-border-radius: 0px 10px 10px 10px ;
	border-radius: 0px 10px 10px 10px ;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -138px;
	margin-bottom: -30px;
}

#u5053-3
{
	z-index: 3;
	width: 1160px;
	min-height: 138px;
	margin-right: -1160px;
}

#u5032
{
	z-index: 26;
	width: 180px;
	margin-right: -180px;
	margin-top: 28px;
	left: 100px;
}

#pu3274
{
	z-index: 6;
	width: 0.01px;
	margin-left: 513px;
	top: -50px;
	margin-bottom: -50px;
	position: relative;
}

#pu3274_position_content
{
	position: relative;
}

#u3274
{
	z-index: 6;
	width: 526px;
}

._u3274.f3s_top
{
	width: 526px;
	height: 13px;
}

._u3274.f3s_mid
{
	width: 526px;
	height: 37px;
}

#pu3274_position_inner_content
{
	pointer-events: none;
	padding-bottom: 9px;
}

#pmenuu113
{
	width: 0.01px;
	position: relative;
	left: -507px;
	top: 5px;
	pointer-events: auto;
}

#menuu113
{
	z-index: 7;
	width: 480px;
	margin-right: -480px;
}

#u142
{
	width: 160px;
	min-height: 37px;
	margin-right: -160px;
}

#u145
{
	width: 160px;
	padding-bottom: 16px;
}

#u145:hover
{
	margin: 0px;
}

#u148-4
{
	width: 146px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -150px;
	top: 8px;
	left: 5px;
}

#u145:hover #u148-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -150px 0px 0px;
}

#u145:active #u148-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -150px 0px 0px;
}

#u179
{
	width: 160px;
	min-height: 37px;
	margin-right: -160px;
	left: 160px;
}

#u180
{
	width: 160px;
	padding-bottom: 16px;
}

#u145.MuseMenuActive,#u180:hover
{
	margin: 0px;
}

#u181-4
{
	width: 146px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -150px;
	top: 8px;
	left: 5px;
}

#u145.MuseMenuActive #u148-4,#u180:hover #u181-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -150px 0px 0px;
}

#u180:active #u181-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -150px 0px 0px;
}

#u199
{
	width: 160px;
	min-height: 37px;
	margin-right: -160px;
	left: 320px;
}

#u202
{
	width: 160px;
	padding-bottom: 16px;
}

#u180.MuseMenuActive,#u202:hover
{
	margin: 0px;
}

#u202.MuseMenuActive
{
	margin: 0px;
}

#u205-4
{
	width: 146px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -150px;
	top: 8px;
	left: 5px;
}

#u180.MuseMenuActive #u181-4,#u202:hover #u205-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -150px 0px 0px;
}

#u202:active #u205-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -150px 0px 0px;
}

#u202.MuseMenuActive #u205-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -150px 0px 0px;
}

#master-header,#ppu111
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u111
{
	z-index: 29;
	width: 1160px;
	height: 7px;
}

#u6032
{
	z-index: 30;
	width: 50px;
	margin-left: 1080px;
	margin-top: 31px;
}

#pu6057
{
	width: 0.01px;
	margin-left: 1060px;
	position: relative;
}

#u6057
{
	z-index: 32;
	width: 90px;
	margin-right: -90px;
}

#u6068
{
	z-index: 34;
	width: 85px;
	margin-right: -85px;
	margin-top: 68px;
	left: 6px;
}

#ppu5102-3
{
	width: 0.01px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -1px;
	margin-top: 15px;
	left: 121px;
}

#pu5053-3,#pu5102-3
{
	width: 0.01px;
	position: relative;
}

#u5102-3
{
	z-index: 75;
	width: 917px;
	min-height: 328px;
	position: relative;
	margin-right: -917px;
	left: 1px;
}

#pu5102-2
{
	width: 916px;
	position: relative;
	margin-right: -916px;
	margin-top: 5px;
	left: 1px;
}

#u5103
{
	z-index: 78;
	width: 916px;
	height: 328px;
	position: relative;
	margin-right: -916px;
}

#u5929
{
	z-index: 79;
	width: 916px;
	height: 328px;
	position: relative;
	margin-right: -916px;
}

#u5944
{
	z-index: 80;
	width: 703px;
	position: relative;
	margin-right: -703px;
	margin-top: 5px;
	left: 2px;
}

#u5949-21
{
	z-index: 82;
	width: 205px;
	min-height: 317px;
	background-color: #000000;
	text-align: justify;
	position: relative;
	margin-right: -205px;
	margin-top: 6px;
	left: 715px;
}

#u5949-5,#u5949-8
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5949-4,#u5949-6
{
	font-size: 24px;
	color: #FFFF00;
}

#u5949-7,#u5949-9,#u5949-11,#u5949-14
{
	font-size: 16px;
	color: #7F7F7F;
}

#u6111-4
{
	z-index: 103;
	width: 200px;
	position: relative;
	margin-right: -200px;
	margin-top: 230px;
	left: 425px;
}

#pamphletu504
{
	z-index: 43;
	width: 0.01px;
	height: 0px;
	padding-bottom: 210px;
	margin-left: 1px;
	position: relative;
}

#u514
{
	z-index: 44;
	position: relative;
	width: 0px;
	margin-top: -218px;
	left: -246px;
}

#u515
{
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	top: 418px;
	left: 287px;
}

#u515:hover
{
	background-color: #AAAAAA;
	margin: 0px;
}

#u517
{
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	top: 418px;
	left: 263px;
}

#u517:hover
{
	background-color: #AAAAAA;
	margin: 0px;
}

#u515.PamphletThumbSelected,#u517.PamphletThumbSelected
{
	background-color: #DE6530;
	margin: 0px;
}

#u520
{
	position: absolute;
	z-index: 47;
	width: 915px;
}

#u521
{
	z-index: 48;
	width: 915px;
	height: 180px;
	behavior: url(scripts/1.1/pie.htc);
	background-size: cover !important;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-khtml-background-size: cover;
	-ms-background-size: cover;
	border-color: #000000;
	-moz-border-radius: 0px 0px 10px 0px ;
	-webkit-border-radius: 0px 0px 10px 0px ;
	-khtml-border-radius: 0px 0px 10px 0px ;
	border-radius: 0px 0px 10px 0px ;
	margin-right: -916px;
	position: relative;
	background: #FFFFFF url("../images/unknown-1.jpg") no-repeat left top;
	-pie-background: #FFFFFF url("images/unknown-1-u521-fr.jpg") no-repeat left top;
}

#pu111,#pu5178
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
}

#u5178
{
	z-index: 49;
	width: 474px;
	position: relative;
	margin-right: -474px;
}

#u4120
{
	z-index: 51;
	width: 99px;
	height: 84px;
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	position: relative;
	margin-right: -99px;
	margin-top: 2px;
	left: 50px;
}

#pu5164-3
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 9px;
	left: 553px;
}

#u5164-3
{
	z-index: 52;
	width: 5px;
	position: relative;
	margin-right: -5px;
	left: 1px;
}

#u5165-8
{
	z-index: 55;
	width: 362px;
	min-height: 57px;
	color: #9D0208;
	font-size: 30px;
	position: relative;
	margin-right: -362px;
	margin-top: 2px;
}

#u5949-5  span,#u5949-8  span,#u5165-6  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u5165-6
{
	text-align: left;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5165-4
{
	font-size: 18px;
	color: #FFFFFF;
}

#u523
{
	z-index: 63;
	width: 915px;
	height: 180px;
	border-color: #000000;
	background-color: #2F1408;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin-right: -916px;
	position: relative;
}

#u5061
{
	z-index: 64;
	width: 264px;
	position: relative;
	margin-right: -264px;
	margin-top: 2px;
}

#u5944_img,#u5178_img,#u5061_img
{
	vertical-align: top;
}

#pu3653
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	left: 272px;
}

#u3653
{
	z-index: 66;
	width: 184px;
	height: 124px;
	position: relative;
	margin-right: -184px;
	left: 431px;
}

.ie #u5103,.ie #u5929,.ie #u4120,.ie #u3653
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3706-4
{
	z-index: 67;
	width: 368px;
	min-height: 44px;
	color: #DE6530;
	font-size: 36px;
	font-family: pt-sans-n7, pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -368px;
	margin-top: 6px;
}

#u3706
{
	font-family: pt-sans-n4, pt-sans, sans-serif;
	font-weight: 400;
}

#u4137-4
{
	z-index: 71;
	width: 570px;
	min-height: 130px;
	font-size: 18px;
	text-align: justify;
	color: #FFFFFF;
	position: relative;
	margin-right: -570px;
	margin-top: 49px;
	left: 8px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#master-footer
{
	width: 0.01px;
	margin-top: 13px;
	position: relative;
}

#u1490
{
	z-index: 37;
	width: 960px;
	height: 7px;
}

#u3222-4
{
	z-index: 38;
	width: 357px;
	min-height: 16px;
	margin-left: 23px;
	margin-top: 14px;
}

body
{
	padding-top: 138px;
	padding-bottom: 37px;
}

